.container{
    width: 95%;
    height: 95vh;
    border:1px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
   position: fixed;
    background-color: rgba(75, 70, 70, 0.863);
   
   
   
}
button{
height: 21%;
font-size: 80%;
background-color: rgba(37, 35, 35, 0.842);
color: aliceblue;
filter: drop-shadow(0px 0px 5px rgba(56, 50, 50, 0.815));

}
.contain{
   background-color: aliceblue;
    width: 90%;
    height: 85vh;
    border:1px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
   filter: drop-shadow(0px 0px 5px rgba(240, 248, 255, 0.336));

    overflow: scroll;
}
.meni{
 
     background-color: aliceblue;
    text-align: center;
    width: 94%;
    height: 5vh;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 2vh;
    font-size: 50%;
     filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.658));
}
.tot{
padding: 0%;
margin: 0;
    width: 94%;
    height:40vh;

 transition: 0.3s;
}
.image{
    width: 93%;
    height: 20vh;
    border:  solid 1px;
    border-radius: 5px;
    margin-top: 1vh;
   
}

button{
    margin-top: 1.5vh;
 
    border-radius: 5px;

}
.back{
    width: inherit;
    height: inherit; 
}

.but{
   filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.425));
    width: 93%;
    height: 18vh;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 1vh;
    }
