.container{
    width: 95%;
    height: 95vh;
    border:1px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: fixed;
   
}

.contain{
   
    width: 90%;
    height: 85vh;
    border:1px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
   

    overflow: scroll;
}
.meni{
    text-align: center;
    width: 94%;
    height: 5vh;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 2vh;
    font-size: 50%;
}
.tot{
padding: 0%;
margin: 0;
    width: 94%;
    height:40vh;

 transition: 0.3s;
}
.image{
    width: 93%;
    height: 20vh;
    border:  solid 1px;
    border-radius: 5px;
    margin-top: 1vh;
}

button{
    margin-top: 1.5vh;
 
    border-radius: 5px;

}
.back{
    width: inherit;
    height: inherit; 
}

.but{
   
    width: 93%;
    height: 15vh;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 1vh;
    }
